exportPattern("^[[:alpha:]]+")
export(create.grid)
export(create.maps)
export(density.map)
export(distance.filter)
export(distance.wrap)
export(effort.grid)
export(filterECSAS)
export(hist.wrap)
export(import.grid)
export(resume.plot)
export(species.grid)
S3method(resume.plot,distanceFit)
S3method(resume.plot,distanceList)
S3method(Global.summary,distanceFit)
S3method(Global.summary,distanceList)
S3method(density.map,distanceFit)
S3method(density.map,distanceList)
S3method(density.map,SpatialPolygonsDataFrame)