exportPattern("^[[:alpha:]]+")
export(distance.filter)
export(distance.wrap)
export(hist.wrap)
export(resume.plot)
S3method(resume.plot,distanceFit)
S3method(resume.plot,distanceList)
S3method(global.summary,distanceFit)
S3method(global.summary,distanceList)